
    
<% layout('layouts/boilerplate') -%>
    
    <!-- Hero Start -->
    <div class="container-fluid bg-primary hero-header mb-5">
        <div class="container text-center">
            <h1 class="display-4 text-white mb-3 animated slideInDown">Testimonial</h1>

        </div>
    </div>
    <!-- Hero End -->




    <!--Feature Start-->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-primary mb-3"><span class="fw-light text-dark">Best Benefits Of Our</span> Natural Herbal Ingredients </h1>
                <p class="mb-5">Herbal solutions have long been valued for their natural healing properties. Ingredients like aloe vera, turmeric, and neem offer benefits such as soothing inflammation, boosting immunity, and enhancing skin health. These powerful herbs provide a gentle, effective way to support overall well-being and promote a healthier, more vibrant lifestyle.</p>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Turmeric</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span></span>Anti-inflammatory, brightens skin, reduces acne scars, and relieves joint pain.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Honey</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Moisturizes, has antibacterial properties, promotes wound healing, and helps with acne treatment and scars.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Aloe Vera</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Soothes burns, moisturizes skin, promotes wound healing, and reduces acne.</span>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <center><img class="img-fluid animated pulse infinite" src="images/herbs.png" style="max-width: 70%; max-height: 30%; border-radius: 5%; object-fit: cover; box-shadow: 0px 8px 15px rgba(0, 100, 0, 0.7);"></center>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Besan</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Exfoliates, brightens, controls oil, fights acne, removes tan, tightens pores, soothes skin, and provides a natural glow.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Neem</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Antibacterial, antifungal, treats acne, and boosts immunity.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Multani Mitti</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Detoxifies, cleanses, reduces acne, brightens skin, tightens pores, and balances oil production.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Feature End-->


    <!-- Testimonial Start -->
    <div class="container-fluid testimonial bg-primary my-5 py-5">
        <div class="container text-white py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-white mb-3">Our Users Said <span class="fw-light text-dark">About Our Analysis & Solutions</span></h1>
                <p class="mb-5">Loved by thousands for its accurate skin analysis and natural solutions—because your skin deserves the best, naturally!</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                        <div class="testimonial-item text-center" data-dot="1">
                            <img class="img-fluid border p-2" src="images/testimonial-1.jpg" alt="">
                            <h5 class="fw-light lh-base text-white">I was skeptical at first, but this website amazed me! The face scan was quick, and the analysis was spot-on. It detected my redness, acne and darkspots which I’ve always struggled with. The herbal recommendations were easy to follow, and after just two weeks, my skin feels softer and more radiant. I love how they provide us with natural herbal solutions. Highly recommend it to anyone looking for a natural skincare routine!</h5>
                            <h5 class="mb-1">Rhea</h5>
                            <h6 class="fw-light text-white fst-italic mb-0">Software Engineer</h6>
                        </div>
                        <div class="testimonial-item text-center" data-dot="2">
                            <img class="img-fluid border p-2" src="images/testimonial-2.jpg" alt="">
                            <h5 class="fw-light lh-base text-white">I’ve tried so many skincare products, but nothing felt truly customized to my skin’s needs—until now! The AI scan identified my combination skin and even pinpointed some early signs of damage. The herbal solutions provided were simple yet effective. I especially love the DIY face masks made from natural ingredients. My skin has never looked this healthy and fresh.</h5>
                            <h5 class="mb-1">John</h5>
                            <h6 class="fw-light text-white fst-italic mb-0">Banker</h6>
                        </div>
                        <div class="testimonial-item text-center" data-dot="3">
                            <img class="img-fluid border p-2" src="images/testimonial-3.jpg" alt="">
                            <h5 class="fw-light lh-base text-white">This website is a lifesaver! I don’t have time for long skincare consultations, so the instant scan and detailed report were perfect. It accurately identified my oily T-zone and recommended herbal recipes that actually work. Within days, my skin felt balanced and less greasy. If you’re looking for personalized herbal skincare, this is the way to go!</h5>
                            <h5 class="mb-1">Mike</h5>
                            <h6 class="fw-light text-white fst-italic mb-0">Career Consultation</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


